*.iml
.gradle
/local.properties
/testing.properties
.DS_Store
/build
/captures
.externalNativeBuild
*.orig
.idea
!.idea/inspectionProfiles/Project_Default.xml
*.pro
app/build.gradle-e
email_payload.properties
build_to_label.txt
ui-test-result.json
artifacts.json
cycle_url.txt
test-results.json
uitest_notification.html
failed_tests.txt
/uitest_arn.txt
/app_arn.txt
*.apk
*.mp4
*.log
*logcat
.project
.settings
.classpath
*~$*